#display {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--green);
    font-family: 'Sirin Stencil', monospace;
    word-wrap: break-word;
    padding: 5px;
}

#superscript {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 120%;
    text-align: right;
    color: var(--light);
}

#main-display {
    text-align: right;
    height: 130px;
    width: 100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#first {
    height: 40px;
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
#second {
    height: 40px;
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
#operator {
    height: 40px;
    text-align: center;
    text-decoration: solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    width: 100%;
    padding-right: 20px;
}
