:root {
    --dark: #0c0c0c;
    --green: #37D27F;
    --light: #C2E8FF;
    --shade: #7c77b9;
}

body {
    background-color: var(--dark);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    border: 3px solid var(--green);
    height: 600px;
    width: 450px;
    border-radius: 25px;
    box-shadow: 2px 2px 0px 1px var(--light);
}

#display {
    box-sizing: border-box;
    height: 180px;
    width: 100%;
    border-radius: 25px;
}

#keypad {
    box-sizing: border-box;
    height: 420px;
    width: 100%;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        'all-clear clear change-sign divide'
        'seven eight nine multiply'
        'four five six subtract'
        'one two three add'
        'zero zero equals equals';
}